<div class="pokemon-list">
  <h1 class="pokemon-list__title">Pokemons</h1>

  @if (paginatedList() === null) {
    <div class="pokemon-list__error">
      Error occurred
      <button
        kahButton
        (click)="refresh()"
        class="pokemon-detail__back-button"
      >
        Try again
      </button>
    </div>
  } @else {
    <ul class="pokemon-list__items">
      @for (pokemon of paginatedList(); track pokemon.url) {
        <li
          (click)="navigateToDetails(pokemon.name)"
          (keyup.enter)="navigateToDetails(pokemon.name)"
          tabindex="0"
          class="pokemon-list__item"
          title="Click to see details"
        >
          <span>
            {{ pokemon.name | titlecase }}
          </span>
          <img src="assets/img/icons/chevron-right.svg" alt="Details">
        </li>
      } @empty {
        <kah-loader />
      }
    </ul>
  }

  <kah-paginator
    [totalItems]="totalItems()"
    [pageSize]="pageSize"
    [currentPage]="currentPage()"
    (pageChange)="onPageChange($event)"
  ></kah-paginator>
</div>
